@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  font-family: "Plus Jakarta Sans", sans-serif;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #69CBF7;
  border-color: #69CBF7;
}

:hover.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #69CBF7;
  border-color: #69CBF7;
}

